<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="utilities.ExtentReportsManager" />
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/CHARLIE/3D Objects/OpenCart_TestNG_Framework">

        <parameter name="browser" value="chrome"></parameter>

        <groups>
            <run>
                <exclude name="sanity"></exclude>
            </run>
        </groups>


        <classes>
             <class name="testCases.TC_Register_001">
                <methods>
                    <include name="register"/>
                </methods>
            </class>
            <class name="testCases.TC_Login_002"> </class>
            <class name="testCases.TC_SearchandAddToCart_003"> </class>
            <class name="testCases.TC_CheckOut_004"> </class>
            <class name="testCases.TC_PricesDDT_005"> </class>

        </classes>

    </test>
</suite>